<h1>Destiny PvP Tracker - Ruby Edition</h1>
<div>

    <p>
        This is the home page for the tracker app. <br/>
        This will prompt the user to input destiny player names to look up and compare PvP stats
    </p>
    <hr>

    <!-- Individual player search -->
    <div class="search-box">
        <span style="font-size:20px;">Search PvP Stats</span>
        <div class="player-search">
            <%= form_tag("/character", method: "get") do |f| %>
                <%= label_tag :id, "Player:" %>
                <%= text_field_tag :id %>
                <br/>
                <%= submit_tag "Search" %>
            <% end %>
        </div>
    </div>
    <hr>

    <!-- Player comparison search -->
    <p><strong>Note</strong></p>
    <p><strong>For comparison, just use 1 and 2 for the time being. All else breaks.</strong></p>
    <div class="search-box">
        <span style="font-size:20px;">Compare PvP Stats</span>
        <div class="player-search">
            <%= form_tag("/compare", method: "get") do |f| %>
                <%= label_tag :player1, "Player 1:" %>
                <%= text_field_tag :player1 %>
                <br/>
                <%= label_tag :player2, "Player 2:"  %>
                <%= text_field_tag :player2  %>
                <br/>
                <%= submit_tag "Search" %>
            <% end %>
        </div>
    </div>
</div>
