<h1>Show</h1>
<p>ID: <%= @testuser.user_id %></p>
<p>Scout Kills: <%= @testuser.scout %></p>
<p>Hand Kills: <%= @testuser.handcannon %></p>
<p>Pulse Kills: <%= @testuser.pulse %></p>
<p>Auto Kills: <%= @testuser.auto %></p>