<!-- Player 1 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Primary Weapon Kills</div>
    <div class="stat-card-stat">Scout Rifle : <%= user1.scout %></div>
    <div class="stat-card-stat">Pulse Rifle : <%= user1.pulse %></div>
    <div class="stat-card-stat">Hand Cannon : <%= user1.hand %></div>
    <div class="stat-card-stat">Auto Rifle  : <%= user1.auto %></div>
</div>
<!-- Comparison column -->
<div class="stat-compare-column">
    <br/>
    <div class='compare-stat'><%= user1.scout %> - <%= user2.scout %></div>
    <div class='compare-stat'><%= user1.pulse %> - <%= user2.pulse %></div>
    <div class='compare-stat'><%= user1.hand %> - <%= user2.hand %></div>
    <div class='compare-stat'><%= user1.auto %> - <%= user2.auto %></div>
</div>
<!-- Player 2 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Primary Weapon Kills</div>
    <div class="stat-card-stat">Scout Rifle : <%= user2.scout %></div>
    <div class="stat-card-stat">Pulse Rifle : <%= user2.pulse %></div>
    <div class="stat-card-stat">Hand Cannon : <%= user2.hand %></div>
    <div class="stat-card-stat">Auto Rifle  : <%= user2.auto %></div>
</div>
