<!-- Player 1 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Primary Weapon Kills</div>
    <div class="stat-card-stat">Scout Rifle : <%= user1.scout %></div>
    <div class="stat-card-stat">Pulse Rifle : <%= user1.pulse %></div>
    <div class="stat-card-stat">Hand Cannon : <%= user1.hand %></div>
    <div class="stat-card-stat">Auto Rifle  : <%= user1.auto %></div>
</div>
<!-- Comparison column -->
<div class="stat-compare-column">
    <br/> <!-- This is here to maintain spacing for now -->
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.scout, stat2: user2.scout } %>
    </div>
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.pulse, stat2: user2.pulse } %>
    </div>
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.hand, stat2: user2.hand } %>
    </div>
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.auto, stat2: user2.auto } %>
    </div>
</div>
<!-- Player 2 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Primary Weapon Kills</div>
    <div class="stat-card-stat">Scout Rifle : <%= user2.scout %></div>
    <div class="stat-card-stat">Pulse Rifle : <%= user2.pulse %></div>
    <div class="stat-card-stat">Hand Cannon : <%= user2.hand %></div>
    <div class="stat-card-stat">Auto Rifle  : <%= user2.auto %></div>
</div>
