<!-- Player 1 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Special Weapon Kills</div>
    <div class="stat-card-stat">Sniper Rifle : <%= user1.sniper %></div>
    <div class="stat-card-stat">Shotgun      : <%= user1.shotgun %></div>
    <div class="stat-card-stat">Fusion Rifle : <%= user1.fusion %></div>
    <div class="stat-card-stat">Sidearm      : <%= user1.sidearm %></div>
</div>
<!-- Comparison column -->
<div class="stat-compare-column">
    <br/>
    <div class='compare-stat'><%= user1.sniper %> - <%= user2.sniper %></div>
    <div class='compare-stat'><%= user1.shotgun %> - <%= user2.shotgun %></div>
    <div class='compare-stat'><%= user1.fusion %> - <%= user2.fusion %></div>
    <div class='compare-stat'><%= user1.sidearm %> - <%= user2.sidearm %></div>
</div>
<!-- Player 2 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Special Weapon Kills</div>
    <div class="stat-card-stat">Sniper Rifle : <%= user2.sniper %></div>
    <div class="stat-card-stat">Shotgun      : <%= user2.shotgun %></div>
    <div class="stat-card-stat">Fusion Rifle : <%= user2.fusion %></div>
    <div class="stat-card-stat">Sidearm      : <%= user2.sidearm %></div>
</div>
