<!-- Player 1 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Special Weapon Kills</div>
    <div class="stat-card-stat">Sniper Rifle : <%= user1.sniper %></div>
    <div class="stat-card-stat">Shotgun      : <%= user1.shotgun %></div>
    <div class="stat-card-stat">Fusion Rifle : <%= user1.fusion %></div>
    <div class="stat-card-stat">Sidearm      : <%= user1.sidearm %></div>
</div>
<!-- Comparison column -->
<div class="stat-compare-column">
    <br/> <!-- This is here to maintain spacing for now -->
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.sniper, stat2: user2.sniper } %>
    </div>
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.shotgun, stat2: user2.shotgun } %>
    </div>
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.fusion, stat2: user2.fusion } %>
    </div>
    <div class='compare-stat'>
        <%= render partial: 'compare_stat', locals: { stat1: user1.sidearm, stat2: user2.sidearm } %>
    </div>
</div>
<!-- Player 2 stat card -->
<div class="stat-card">
    <div class="stat-card-header">Special Weapon Kills</div>
    <div class="stat-card-stat">Sniper Rifle : <%= user2.sniper %></div>
    <div class="stat-card-stat">Shotgun      : <%= user2.shotgun %></div>
    <div class="stat-card-stat">Fusion Rifle : <%= user2.fusion %></div>
    <div class="stat-card-stat">Sidearm      : <%= user2.sidearm %></div>
</div>
