<h1>Show Character</h1>
<p>ID:          <%= @character.user_id %></p>
<p>Scout Kills: <%= @character.scout %></p>
<p>Hand Kills:  <%= @character.hand %></p>
<p>Pulse Kills: <%= @character.pulse %></p>
<p>Auto Kills:  <%= @character.auto %></p>